.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productCart {
  border: 1px solid gray;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

.productCart > img {
  width: 50%;
  height: 200px;
  margin: 0 25% 20%;
}

.productCart > button {
  margin: 20px;
  width: 80%;
  padding: 10px;
}
